body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(184, 251, 251);
  border-bottom: 2px solid rgb(76, 208, 253);
}

.nav-items {
  list-style: none;
  display: flex;
}

.logo-image {
  width: 60px;
  margin-left: 1rem;
}

ul > * {
  padding: 1rem;
}

.title {
  text-align: center;
}

ol > * {
  font-size: .9rem;
}

footer {
  text-align: center;
  background-color: rgb(76, 208, 253);
  padding: 1rem 0;
  margin-top: 3rem;
}